.authNavList {
  display: flex;
  gap: 20px;
}

.authNavLink {
  font-size: 1.2em;
  color: #1976d2;
}
.authNavLink:hover {
  color: #1565c0;
}

.activeLink {
  text-decoration: underline 2px #1565c0;
}
